*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
}
button{
    border: none;
    background-color: transparent;

    cursor: pointer;
}

.container{
    height: 100vh;
    display: grid;
    place-items: center;
    justify-content: center;

}

main{
    display: flex;
    gap: 15.2rem;


}

.timerButtons{
    margin-top: 5.5rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 126.166px;
    line-height: 148px;

    text-align: center;
    text-transform: uppercase;

    color: #323238;
}
.time{
    display: flex;
}
.buttons{
    width: 33.1rem;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.controls{
    display: grid;
    grid-template-areas: 
    'A B'
    'C D';
    gap: 2.2rem;
}